/* blog */

.markdown-body {
  font-family: "Space Mono", monospace;
  color: var(--main-text);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5%;
}

h1 {
  margin: 3% 1% 1% 1%;
}

p {
  margin: 1%;
  color: var(--main-text);
}

p, li {
  text-align: left;
  font-size: 1.25em;
}

li {
  margin-left: 3%;
  text-decoration: none;
}

img {
  margin: auto;
  max-width: 600px;
}