/* blog */

.markdown-body {
  font-family: "Space Mono", monospace;
  color: var(--main-text);
  display: flex;
  flex-direction: column;
  align-items: center;
}

p, li, pre, h1, h2, h3 {
  max-width: 80vw;
}

h1 {
  margin: 3% 1% 1% 1%;
}

p {
  color: var(--main-text);
}

p, li {
  text-align: left;
  font-size: 1.25em;
}

li {
  margin-left: 3%;
}

img {
  margin: auto;
  max-width: 600px;
}

pre {
  background-color: var(--secondary-background);
  color: var(--secondary-text);
  padding: 2%;
  text-align: left;
  overflow-y: scroll;
}

a:link, a:visited {
  color: var(--link-text);
}

a:hover, a:active {
  color: var(--active-link-text);
}
