:root {
  --main-text: #171717;
  --background: #C7F9CC;

  --secondary-text: #171717;
  --secondary-background: #57CC99;

  --link-text: #430868;
  --active-link-text: #171717;

  --content-text: #171717;
  --content-background: #3EB4B6;
  --content-link-text: #430868;
  --content-active-link-text: #171717;

  --accent-text: #FFFFFF;
  --accent-background: #1a759f;
}

[data-theme="dark"] {
  --background: #282e53;
  --main-text: #CCCCCC;

  --secondary-text: #F2F2F2;
  --secondary-background: #494581;

  --link-text: #F2F2F2;
  --active-link-text: #CCCCCC;

  --content-text: #121212;
  --content-background: #a298c7;
  --content-link-text: #430868;
  --content-active-link-text: #121212;

  --accent-text: #09090C;
  --accent-background: #d386ac;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
}

html {
  background-color: var(--background);
  height: 100%;
}

body {
  height: 100%;
  display: grid;
  grid-template-columns: .2fr 2fr .2fr;
  grid-template-rows: .05fr auto .05fr;
  grid-template-areas:
  "header header header"
  ". main ."
  "footer footer footer";
  font-family: "Space Mono", monospace;
}

main {
  grid-area: main;
  display: grid;
  margin: 2% 0;
}

zero-md {
  display: grid;
}

.construction {
  background-color: var(--content-background);
  color: var(--content-text);
  margin: auto;
  border-radius: 10px;
  padding: 2%;
}

/* header/footer */

.header-component {
  grid-area: header;
}

.footer-component {
  grid-area: footer;
}

header, footer {
  background-color: var(--secondary-background);
  color: var(--secondary-text);
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

header {
  padding: 10px;
}

footer {
  height: 100%;
}

.header-list {
  list-style-type: none;
}

.footer-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.footer-list li {
  width: 100%;
  margin: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-list li img {
  margin: 5px;
}

/* buttons and links */

.button {
  color: var(--accent-text);
  background-color: var(--accent-background);
  padding: 10px;
  border-radius: 10px;
  border: none;
}

a:link, a:visited {
  color: var(--content-link-text);
 }
 
a:hover, a:active {
  color: var(--content-active-link-text);
}

header a:link, footer a:link, header a:visited, footer a:visited {
  color: var(--link-text);
}

header a:hover, footer a:hover, header a:active, footer a:active {
  color: var(--active-link-text);
}

/* garden */
.garden-container {
  background-color: var(--content-background);
  color: var(--content-text);
  border-radius: 10px;
  padding: 2%;
}

.garden-title {
  margin: 1%;
}

.garden-content {
  text-align: left;
  margin: 1%;
  font-size: 1.25em;
}

@media screen and (min-width: 350px) {
  header {
    flex-direction: row;
  }
}

@media screen and (min-width: 700px) {
  footer, .footer-list {
    flex-direction: row;
  }
}
