:root {
  --background: #CCCCCC;
  --white: #FFFFFF;
}

[data-theme="light"] {
  --main-text: #171717;
  --background: #C7F9CC;

  --secondary-text: #171717;
  --secondary-background: #57CC99;

  --link-text: #430868;
  --active-link-text: #171717;

  --content-text: #171717;
  --content-background: #3EB4B6;
  --content-link-text: #430868;
  --content-active-link-text: #171717;

  --accent-text: var(--white);
  --accent-background: #1a759f;

  --toggle-background: #242D54;
}

[data-theme="dark"] {
  --background: #282e53;
  --main-text: #C0BAD9;

  --secondary-text: #121212;
  --secondary-background: #ae7cb6;
  /* #494581 */

  --link-text: #121212;
  --active-link-text: #400363;

  --content-text: #121212;
  --content-background: #a298c7;
  --content-link-text: #430868;
  --content-active-link-text: #121212;

  --accent-text: #09090C;
  --accent-background: #d386ac;

  --toggle-background: #282e53;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
}

html {
  background-color: var(--background);
  height: 100%;
}

body {
  height: 100%;
  font-family: "Space Mono", monospace;
}

main {
  padding: 1rem;
}

.title {
  color: var(--main-text);
  margin-top: 3%;
}

.offscreen {
  position: relative;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  margin-top: -1px;
}

/* header/footer */

header, footer {
  background-color: var(--secondary-background);
  color: var(--secondary-text);
  width: 100%;
}

header {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.header-list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.header-list li {
  margin: 10px;
}

.footer-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer-list li {
  height: 40px;
  margin: 5px;
  display: flex;
  align-items: center;
  justify-content: start;
}

.footer-list li img {
  margin: 5px;
}

.logo {
  height: 100px;
  width: 100px;
}

.logo-grey {
  height: 100px;
  width: 100px;
  display: none;
}

#daisy path {
  fill: var(--toggle-background);
}

.theme-switch {
  position: relative;
  bottom: 30px;
  left: 55px;
  width: 1em;
  height: 1em;
  opacity: 0;
}

/* ai page */
.ai-title {
  color: var(--main-text);
  margin-bottom: 3%;
}

.ai-add-yours {
  margin-top: 1%;
}

/* homepage */
.welcome, .all-topics-series-containers, .ai-container {
  background-color: var(--content-background);
  color: var(--content-text);
  border-radius: 10px;
  padding: 2%;
}

.all-topics-series-containers {
  margin: .5rem auto;
}

.welcome {
  margin: 3% auto;
}

.main-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: max-content;
  justify-content: center;
}

/* blogs */

.blog-container {
  font-family: "Space Mono", monospace;
  background-color: var(--content-background);
  color: var(--content-text);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  padding: 3%;
  margin: 3%;
  font-size: 1.25rem;
}

.metadata-container {
  border: 3px solid var(--content-text);
  padding: 1%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.topics-container, .series-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}

.topics-list, .series-list {
  display: flex;
  flex-direction: column;
  list-style-type: none;
}

.font-lg {
  font-size: 1.75rem;
}

.font-med {
  font-size: 1.5rem;
}
/* buttons and links */

.button {
  color: var(--accent-text);
  background-color: var(--accent-background);
  padding: 10px;
  border-radius: 10px;
  border: none;
}

a:link, a:visited {
  color: var(--content-link-text);
 }
 
a:hover, a:active {
  color: var(--content-active-link-text);
}

header a:link, footer a:link, header a:visited, footer a:visited {
  color: var(--link-text);
}

header a:hover, footer a:hover, header a:active, footer a:active {
  color: var(--active-link-text);
}

a:focus, .theme-switch:focus + #daisy, .home-link:focus {
  outline: 3px solid var(--white);
  outline-offset: 5px;
}

.home-link:hover .logo, .home-link:focus .logo {
  display: none;
}

.home-link:hover .logo-grey, .home-link:focus .logo-grey {
  display: inline;
}

.theme-switch:focus + #daisy path, .theme-switch:hover + #daisy path {
  fill: var(--white);
}

/* about this garden */

.garden-container {
  background-color: var(--content-background);
  color: var(--content-text);
  border-radius: 10px;
  padding: 2%;
}

.garden-title {
  margin: 1%;
}

.garden-content {
  text-align: left;
  margin: 1%;
  font-size: 1.25em;
}

.garden-list {
  list-style-type: none;
  font-size: 1.25em;
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.garden-list-left-aligned {
  margin-left: 5ch;
}

/* rss */
.rss-list-container {
  margin: 1rem 0;
}

.rss-list-title {
  margin: 0.5rem 0;
}

@media screen and (min-width: 350px) {
  header {
    flex-direction: row;
  }
}

@media screen and (min-width: 600px) {
  .header-list {
    flex-direction: row;
  }

  .metadata-container {
    padding: 2%;
  }

  main {
    padding: 2rem;
  }
}

@media screen and (min-width: 750px) {
  .footer-list {
    flex-direction: row;
  }
}

@media screen and (min-width: 900px) {
  .main-container {
    grid-template-columns: .5fr .5fr;
    column-gap: 2%;
  }
}

@media screen and (min-width: 1200px) {
  .series-list, .topics-list {
    flex-direction: row;
  }

  .series-list li, .topics-list li {
    margin: 3px;
  }

  .series-container, .topics-container {
    flex-direction: row;
  }
}

@media screen and (min-width: 1500px) {
  .main-container {
    grid-template-columns: .5fr .5fr .5fr;
    column-gap: 3%;
    margin: 3% 0;
  }
}
